* {
  font-family: Verdana, sans-serif, 'Cambria';
}

aside {
  display: flex;
  align-content: space-evenly;
  background-color: #6E7E85;
  /* background-color: #9bb0bf; */
  width: 18%;
  position: relative;
  top: auto;
}

header {
  background-color: #6E7E85;
  /* background-color: #9bb0bf; */
  /* background-color: #F8F0FB; */
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 30px;
  height: 40px;
}

/* .testing {
  background-color: red;
} */

ul {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  height: 100vh;
}



.ul-no-bullet {
  list-style-type: none;

  
}


.side-text {
  color: aliceblue;
  /* color: rgb(201, 251, 216); */
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.side-text:hover {
  text-decoration: dotted #353535;
  text-decoration-line: underline;
}

.side-text:active {
  /* color:#353535 */
}

.aboutDiv {
  display: flex;
  position: absolute;
  height: 200px;
  width: 800px;
  top: 200px;
  left: 500px;
  /* border: #6E7E85 2px solid; */
}

#aboutText {
  color: #807f8a;
  /* border: #70b4c1 2px solid; */
  padding: 10px;
  font-size: 25px;

}