* {
  font-family: Verdana, sans-serif, 'Cambria';
}

main {
  display: flex;
}

aside {
  display: flex;
  align-content: space-evenly;
  /* background-color: #6E7E85; */
  /* background-color: #002b55; recent */
  background-color: #408375;
  /* background-color: #9bb0bf; */
  /* width: 18%; */
  border: #e4e4e4 3px solid;
  position: relative;
  top: auto;
  border-radius: 100px;
  /* border-radius: 8px; */
  flex-basis: fit-content;
  width: 100%;
  min-width: 19%;
  /* flex-basis: 23%; */
}

header {
  background-color: #408375;
  color: aliceblue;
  display: flex;
  /* justify-content: center; */
  font-size: 30px;
  height: 45px;
  border: #e4e4e4 3px solid;
  border-radius: 22px;
  /* display: flex; */
  /* justify-content: center; */
  /* width: 100%; */
}

.header-words {
  /* width: 100%; */
  /* display: inline; */
  /* justify-self: center; */
}

footer {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 100px;
  /* display: flex;
  justify-content: right; */
 
  /* justify-content: center; */

}

.form-title {
  font-weight: bold;
  color: #53ab98;
}

/* footer + div {
  border-right: 10px;
} */

ul {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  height: 100vh;
}

.ul-no-bullet {
  list-style-type: none;
}

.side-text {
  color: aliceblue;
  /* color: rgb(201, 251, 216); */
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.nav-style {
  width: auto;
  height: 20px;
  margin-right: 5px;
  /* background-color: #ffffff; */
  color: #fafafa;
  position: relative;
  right: 0%;
  font-size: 20px;
  padding: 2px;
  /* border-color: #242424; */
  border-radius: 30px;
  border: #ffffff 1px dotted;

  /* justify-content: flex-end; */

}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;


  /* text-decoration: underline; */
}

.links-footer {
  border-radius: 8px;
  background-color: #408375;
  color: #ffffff;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  border-color: #525050;
  /* display: flex;
  justify-items: right; */
}

.text-footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.deploy-btn {
  background-color: #ffffff;
  color: #408375;
  border-color:#408375;
  position: relative;
  top: -100px;
  left: 90px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.side-text:hover {
  text-decoration: dotted #353535 5px;
  text-decoration-line: underline;
}

.side-text:active {
  text-decoration: dotted #353535;
  text-decoration-line: underline;
}

.active:enabled {
  background-color: #525050;
}

.eachProject {
  height: 400px;
  width: 550px;
  background-color: #54535e;
  margin: 10px;
  border-radius: 40%;
  border: #000000 1px solid;
}

.aboutDiv {
  display: flex;
  position: absolute;
  height: 200px;
  width: 800px;
  top: 200px;
  left: 500px;
  /* border: #6E7E85 2px solid; */
}

.icon-sizing {
  height: 100px;
  width: 100px;
  position: relative;
  top: 500px;
  left: 230px;
}

.m-icon {
  position: relative;
  top: 500px;
  left: 500px;
}


.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 400px;
  border: #408375 2px solid;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.form-position {
  display: flex;
  height: 300px;
  width: 300px;
  position: relative;
  top: 100px; 
 
  /* border: #408375 2px solid; */
}

.form-title {
  color: #353535;
  position: relative;
  left: 60px;
  font-size: 28px;
}

.form-sub-btn {
  background-color: #408375;
  color: #fffdfd;
  width: 100px;
  border-radius: 5px;
  position: relative;
  left: 75px;
}

.projSec {
  display: grid;
  width: 65%;
}

.homepage-section {
  color: #408375;
  display: flex;
  position: absolute;
  height: 200px;
  width: 800px;
  top: -20px;
  left: 430px;
  justify-content: center;
  align-items: center;
  font-size: 62px;


}

.img1 {
  background-size: cover;
  max-width: 100%;
  max-height: max-content;
  border-radius: 40%;
  height: 400px;
  width: 550px;

  
}

#aboutText {
  color: #807f8a;
  /* border: #70b4c1 2px solid; */
  padding: 10px;
  font-size: 25px;

}

.projTitle {
  color: #408375;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#projectSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#position-links {
  width: 100%;
  display: flex;
  justify-content: right;
}

#mainSection {
  /* width: auto; */
  /* width: 500px */
  display: flex;
}

