* {
  font-family: Verdana, sans-serif, 'Cambria';
}

aside {
  display: flex;
  align-content: space-evenly;
  /* background-color: #6E7E85; */
  /* background-color: #002b55; recent */
  background-color: #408375;
  /* background-color: #9bb0bf; */
  /* width: 18%; */
  border: #e4e4e4 3px solid;
  position: relative;
  top: auto;
  border-radius: 100px;
  /* border-radius: 8px; */
  flex-basis: fit-content;
  width: 100%;
  min-width: 19%;
  /* flex-basis: 23%; */
}

header {
  /* background-color: #0d1215; */
  /* background-color: #6E7E85; */
  /* background-color: #9bb0bf; */
  /* background-color: #F8F0FB; */
  /* background-color: #002b55; */
  background-color: #408375;
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 30px;
  height: 45px;
  border: #e4e4e4 3px solid;
  border-radius: 22px;
}

footer {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 100px;
  /* border-right: 10px; */
  /* justify-content: space-around; */
}

footer + div {
  border-right: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  height: 100vh;
}

.ul-no-bullet {
  list-style-type: none;
}

.side-text {
  color: aliceblue;
  /* color: rgb(201, 251, 216); */
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.side-text:hover {
  text-decoration: dotted #353535 5px;
  text-decoration-line: underline;
}

.side-text:active {
  text-decoration: dotted #353535;
  text-decoration-line: underline;
}

.side-text:active {
  /* color:#353535 */
}

.eachProject {
  height: 400px;
  width: 550px;
  /* background-color: #6E7E85; */
  /* background-color: #0b2350;   */
  /* background-color: #3d2acc; */
  background-color: #54535e;
  /* background-color: #408375; */
  margin: 10px;
  border-radius: 40%;
}

.aboutDiv {
  display: flex;
  position: absolute;
  height: 200px;
  width: 800px;
  top: 200px;
  left: 500px;
  /* border: #6E7E85 2px solid; */
}

.projSec {
  display: grid;
  width: 65%;
}

.homepage-section {
  color: #408375;
  display: flex;
  position: absolute;
  height: 200px;
  width: 800px;
  top: 200px;
  left: 400px;
  justify-content: center;
  align-items: center;
  font-size: 100px;


}

.img1 {
  background-size: cover;
  max-width: 100%;
  max-height: max-content;
  border-radius: 40%;
  height: 400px;
  width: 550px;
  
}

#aboutText {
  color: #807f8a;
  /* border: #70b4c1 2px solid; */
  padding: 10px;
  font-size: 25px;

}

.projTitle {
  color: #408375;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#projectSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#mainSection {
  /* width: auto; */
  /* width: 500px */
  display: flex;
}

main {
  display: flex;

}